html {
  scroll-behavior: smooth;
}
.page {
  --background: #f5efe5;      /* Warm beige page background */
  --foreground: #efe4d2;      /* Slightly darker beige for content */

  --text-primary: #4b3b2a;    /* Deep warm brown */
  --text-secondary: #7a6854;  /* Muted taupe */

  --button-primary-hover: #8b6b4a;
  --button-secondary-hover: #e6d5c3;
  --button-secondary-border: #d2bea5;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
  border-radius: 12px;
}
@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #2f2822;      /* Warm charcoal */
    --foreground: #3b332b;

    --text-primary: #f3ede4;
    --text-secondary: #c9bca9;

    --button-primary-hover: #b89b72;
    --button-secondary-hover: #4a4037;
    --button-secondary-border: #5d5145;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}