.emailLink {
  color: inherit;
  text-decoration: underline;
  transition: opacity 0.2s ease;
}

.emailLink:hover {
  opacity: 0.8;
}

.easeyStyle {
  background: linear-gradient(to right, #b89b72, #d8c3a5);
  color: #3e3124;
  text-align: center;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
}

/* HEADER */
.navBarLink {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 1.2rem;
}

.scrollngHeader {
  width: 100%;
  height: 150px;
  background: rgb(245, 239, 229);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 125px 0px 125px;
  border-bottom: #3e3124 solid 1px;
}

.imageLogo {
  width: 300px;
  object-fit: contain;
}

.navButton {
  color: inherit;
  text-decoration: none;
  padding: 20px;
  background-color: rgba(109, 172, 255, 0.793);
  transition: 0.25s ease;
  margin-left: 50px;
  font-size: larger;
}

.navButton:hover {
  background-color: rgba(141, 186, 246, 0.793);
  transition: 0.25s ease;
}

/* container for nav bar links */
.navLinks {
  display: flex;
  gap: 20px;
  align-items: center;
}


/* each link on nav bar */
.navBarLink {
  text-decoration: none;
  color: #5c4b3a;
  transition: 0.25s ease;
  font-size: 1rem;
  position: relative;
}

.navBarLink:hover {
  color: #8b6b4a;
  transform: scale(1.1);
  transition: 0.25s ease;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 34px;
  cursor: pointer;
  color: #8b6b4a;
}

/* SCROLL BUTTON */

.scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 15px;
  padding-bottom: 10px;
  font-size: 22px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  background: linear-gradient(to right, #857e72, #5c5548);
  color: white;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
  transition: 0.3s ease;
  z-index: 1000;
}

.scrollTopBtn:hover {
  transform: translateY(-5px) scale(1.2);
}

@media (max-width: 900px) {
  .scrollngHeader {
    padding: 10px;
    height: 100px;
    position: relative;
    z-index: 1001;
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 45px;
    right: 25px;
    z-index: 1002;
  }


  .navLinks {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f5efe5;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    z-index: 1000;
  }

  .navLinks.active {
    display: flex;
  }

  .navBarLink {
    font-size: 2rem;
  }

  .navButton {
    margin-left: 0px;
  }
}

/* SMALL PHONES */
@media (max-width: 500px) {
  .scrollngHeader {
    padding: 10px;
  }
}