.imageContainer {
  position: relative;
  width: 50%;
  margin: 50px;
}

.image {
  display: block;
  max-width: 800;
  border: saddlebrown solid 1px;
  border-radius: 15px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translateY(-50%);

  background: rgba(255, 255, 255, 0.671);
  color: rgb(54, 45, 23);

  padding: 2rem;
  border: solid rgba(203, 141, 69, 0.768) 1px;
  border-radius: 12px;
  width: 400px;

  backdrop-filter: blur(3px);
}

.overlay.textLeft {
  left: -45%;
}

.overlay h1,
.overlay h2 {
  margin: 1rem;
  font-size: 2rem;
}

.overlay p {
  margin: 0;
  line-height: 2;
  font-size: 1rem;
}

/* SMALL PHONES */
@media (max-width: 500px) {
  .overlay.textLeft {
    left: 0;
    top: 150%;
    display: flex;
  }

  .image {
    max-width: 400px;
  }
}