.screenOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: var(--beigeCream);
  z-index: 2000;

  opacity: 1;
  transition: opacity .7s ease;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.imageLogo {
  width: 500px;
  object-fit: contain;
}


@media (max-width: 500px) {
  .imageLogo {
    width: 300px;
  }
}