.twoBoxPanel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 300px;
  margin-bottom: 300px;
}

@media screen and (max-width: 900px) {
  .twoBoxPanel {
    display: block;
  }
}